:root{
    --bg-slate-800: oklch(27.9% 0.041 260.031);
    --bg-slate-700: oklch(37.2% 0.044 257.287);
    --bg-slate-600: oklch(44.6% 0.043 257.281);
    --text-slate-100: oklch(96.8% 0.007 247.896);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--bg-slate-800);
    color: var(--text-slate-100);
    padding: 50px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px;
    padding: 12px;
    height: 20vh;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px;
    padding: 12px;
    flex: 1;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 12px;
    padding: 12px;
    
}

a{
    color: var(--text-slate-100);
}


a:hover {
  color: hotpink;
}


a:active {
  color: #c74586;
}

.center {
    text-align: center;

}

.navbar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}


.navbar .nav-links ul {
    display: flex;
    justify-content: center;
}

.navbar li{
    padding: 12px;
}

.navbar li a{
    font-size: 24px;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 35px;
}

form {
  background-color: #e9e9ee;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: centre;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #000000;

  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #000000;
  opacity: 0.7; 

}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
}

svg {
  color: #fff;
  fill: currentColour;
  width: 24px;
  height: 24px;
  padding: 10px;
}


footer p{
    display: flex;
    justify-content: center;
}

@media  screen and (max-width : 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navbar .menu-hamburger{
        display: block;
    }
    
    .nav-links {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(121, 110, 110, 0.438);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-right: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

}


[role="tablist"] {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

[aria-selected="true"] {
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
  color: #c74586;
}

/* extra styling to make the tabs look better that wasn't in the video */
.tabs-container {
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: hsl(0 0% 50% / 0.1);
}

.wrapper {
  width: min(50rem, 100% - 2rem);
  margin-inline: auto;
  box-sizing: border-box;
}

.site-title {
  font-size: var(--fs-900);
  line-height: 1.05;
  text-transform: uppercase;
}

.section-title {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

