* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    padding: 50px;
}

header {
    height: 20vh;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}



.navbar .nav-links ul {
    display: flex;
    justify-content: center;
}

.navbar li{
    padding: 12px;
}

.navbar li a{
    font-size: 24px;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 35px;
}





footer p{
    display: flex;
    justify-content: center;
}

@media  screen and (max-width : 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navbar .menu-hamburger{
        display: block;
    }
    
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(255, 187, 187);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

}